Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [12]:
import re

def replace_s_c_d(text):
  pattern = r'[ ,.]'
  return re.sub(pattern, ':', text)

text_1 = 'Python Exercises, PHP exercises.'

replace_s_c_d(text_1)

'Python:Exercises::PHP:exercises:'

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [13]:
dict = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

import pandas as pd

df = pd.DataFrame(dict)

pattern = r'[a-z]+'

for i in range(len(df)):
  words = re.findall(pattern, df['SUMMARY'][i])
  df['SUMMARY'][i] = ' '.join(words)

print(df)

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [14]:
def atleast_4_char(text):
  pattern = re.compile(r'\b[A-Za-z]{4,}\b')
  words = pattern.findall(text)
  return " ".join(words)

text = 'Game of Thrones is the one of the highest rated series of all time.'
atleast_4_char(text)

'Game Thrones highest rated series time'

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [15]:
def three_4_5(text):
  pattern = re.compile(r'\b[A-Za-z]{3,5}\b')
  words = pattern.findall(text)
  return " ".join(words)

text = 'Game of Thrones is the one of the highest rated series of all time.'
three_4_5(text)

'Game the one the rated all time'

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [16]:
def parenthesis_removal(text_list):
  pattern = re.compile(r'[^()]')
  for i in range(len(text_list)):
    words = pattern.findall(text_list[i])
    text_list[i] = ''.join(words)
  return text_list

text_list =  ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
parenthesis_removal(text_list)

['example.com',
 'hr@fliprobo.com',
 'github.com',
 'Hello Data Science World',
 'Data Scientist']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [17]:
lis = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"]

with open('parenthesis.txt', 'w') as f:
  for i in range(len(lis)):
    f.write(lis[i]+'\n')

lis_2 =[]
with open('parenthesis.txt', 'r') as f:
  for line in f:
    lis_2.append(line.strip())


def remove_from_paren(text_list):
  lis_3=[]
  pattern = r'\(.*\)'
  for i in range(len(text_list)):
    words = re.sub(pattern,'', text_list[i])
    lis_3.append(''.join(words))
  return lis_3

lis_3 = remove_from_paren(lis_2)

with open('parenthesis.txt', 'w') as f:
  for i in range(len(lis_3)):
    f.write(lis_3[i]+'\n')

with open('parenthesis.txt', 'r') as f:
  for line in f:
    print(line.strip())

example
hr@fliprobo
github
Hello
Data

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [18]:
import re

pattern = r'[A-Z][a-z]*'
text = 'ImportanceOfRegularExpressionsInPython'
words = re.findall(pattern, text)
print(words)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [19]:
import re

def space_insert(text):
  pattern = r'([0-9][A-Za-z]*)'
  words = re.sub(pattern,r' \1',text)
  print(words)

text = 'RegularExpression1IsAn2ImportantTopic3InPython'
space_insert(text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [20]:
## This code demonstrates what is asked in the question.

import re

def space_insert(text):
  pattern = '([A-Z]|[0-9])'
  words = re.sub(pattern, r' \1', text)
  print(words)

text = 'RegularExpression1IsAn2ImportantTopic3InPython'
space_insert(text)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [21]:
## This code demonstrates what is the desired output in the question.
import re

def space_insert(text):
  pattern = r'[0-9]*|[A-Za-z]*'
  words = re.findall(pattern,text)
  print(' '.join(words))

text = 'RegularExpression1IsAn2ImportantTopic3InPython'
space_insert(text)

 RegularExpression 1  IsAn 2  ImportantTopic 3  InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [22]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

df = pd.DataFrame(data)

lis=[]

for i in df['Country']:
  lis.append(i[:6])

df['first_five_letters'] = lis

df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [23]:
import re

def string_matcher(text):
  pattern = r'^[A-Za-z0-9_]*$'  # This will only match a string that contains as stated in the question.
  if re.match(pattern, text):
    return True
  else:
    return False

text = 'hello_world123'
string_matcher(text)

True

Question 12- Write a Python program where a string will start with a specific number.

In [24]:
def starts_with_number(text, number):
    pattern = r'^' + re.escape(str(number))
    if re.match(pattern, text):
        return True
    else:
        return False

text = '123 Lets us dance.'
number = 123
print(starts_with_number(text, number))

text = '123 Lets us dance.'
number = 456
print(starts_with_number(text, number))

True
False

Question 13- Write a Python program to remove leading zeros from an IP address

In [25]:
import re

def leading_zeros(ip_address):
    pattern = r'\b0+(\d{1,2})\b'
    result = re.sub(pattern, r'\1', ip_address)
    return result

ip_address = "001.192.345.002"
new_ip= leading_zeros(ip_address)

print(new_ip)

1.192.345.2

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [26]:
with open('date.txt', 'w') as file:
    file.write('On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.')

with open('date.txt', 'r') as file:
    text = file.read()

pattern = r'\b(January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(nd|st|th)\s+\d{4}\b'
ans = re.search(pattern, text)
print(ans.group())

August 15th 1947

Question 15- Write a Python program to search some literals strings in a string.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [27]:
def search_words(text,words):
  for word in words:
    if re.search(word, text):
      print('The word {} is present in the text'.format(word))
    else:
      print('The word {} is not present in the text'.format(word))

search_words("The quick brown fox jumps over the lazy dog", ['fox','dog','horse'])

The word fox is present in the text
The word dog is present in the text
The word horse is not present in the text

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [28]:
def search_word_with_index(text,words):
  for word in words:
    x = re.search(word,text)
    if x:
      print('The word {} is present in the text and it starts from {} and ends at {}'.format(word, x.start(), x.end()))
    else:
      print('The word {} is not present in the text'.format(word))

search_word_with_index("The quick brown fox jumps over the lazy dog", ['fox','dog','horse'])

The word fox is present in the text and it starts from 16 and ends at 19
The word dog is present in the text and it starts from 40 and ends at 43
The word horse is not present in the text

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [29]:
def substring(text, pattern):
  x = re.finditer(pattern,text)
  if x:
    for i in x:
      print("The word {} is present at {} and ends at {}.".format(i.group(),i.start(),i.end()))
  else:
    print('The word {} is not present in the text'.format(x))

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
substring(text, pattern)

The word exercises is present at 7 and ends at 16.
The word exercises is present at 22 and ends at 31.
The word exercises is present at 36 and ends at 45.

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [30]:
def occurance_and_position(text, pattern):
  x = re.finditer(pattern,text)
  if x:
    for i in x:
      print("The word {} is present at {} and ends at {}.".format(i.group(),i.start(),i.end()))
  else:
    print('The word {} is not present in the text'.format(x))

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
occurance_and_position(text, pattern)

The word exercises is present at 7 and ends at 16.
The word exercises is present at 22 and ends at 31.
The word exercises is present at 36 and ends at 45.

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [31]:
def format_date(text_date):
  pattern = r'(\d{4})-(\d{2})-(\d{2})'
  ans = re.sub(pattern, r'\3-\2-\1', text_date)
  print(ans)

format_date('2024-01-10')

10-01-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [32]:
def find_decimal(text):
  pattern = r'\b\d*\.\d{1,2}\b'
  x = re.compile(pattern)
  return x.findall(text)

text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
find_decimal(text)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [33]:
import re
def digit_position(text):

  pattern = r'\d+'

  words = re.finditer(pattern, text)
  if words:
    for word in words:
      print('The number {} is present from position {} to {} in the given string.'.format(word.group(), word.start(),word.end()-1))
  else:
    print('No numbers are present in the string')

digit_position('The price is $20 and the quantity is 10.')

The number 20 is present from position 14 to 15 in the given string.
The number 10 is present from position 37 to 38 in the given string.

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [34]:
def max_digit(text):

  pattern = '\d+'

  lis=[]

  nums =  re.finditer(pattern,text)
  if nums:
    for num in nums:
      lis.append(num.group())

  if len(lis)!=0:
    print(max(lis))
  else:
    print('No numbers were found')

max_digit('My marks in each semester are: 947, 896, 926, 524, 734, 950, 642')

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [35]:
def insert_spaces_capital(text):

  pattern = r'([A-Z])'

  words = re.sub(pattern, r' \1',text)
  print(words)

insert_spaces_capital('RegularExpressionIsAnImportantTopicInPython')

 Regular Expression Is An Important Topic In Python

In [36]:
pattern = r'[A-Z][a-z]+'

text = 'RegularExpressionIsAnImportantTopicInPython'

print(' '.join(re.findall(pattern,text)))

Regular Expression Is An Important Topic In Python


Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [37]:
def sequence(text):

  pattern = r'\b[A-Z][a-z]*\b'

  words = re.findall(pattern,text)
  if words:
    for word in words:
      print(word)
  else:
    print('No such words present.')

sequence('I Like To Play Football.')

I
Like
To
Play
Football

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [38]:
def duplicate(text):

  pattern = r'\b([A-Za-z0-9]+)(\s+\1)+\b'
  words = re.sub(pattern, r'\1', text)
  return words

text = "Hello hello world world"
duplicate(text)

'Hello hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [39]:
def alphanum(text):

  pattern = r'^.*[A-Za-z0-9]$'

  word = re.search(pattern, text)
  if word:
    print('The string ends with alphanumeric character.')
  else:
    print('The string does not end with alphanumeric character.')

text = 'Let us play a game'
alphanum(text)

The string ends with alphanumeric character.

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [40]:
def hashtag(text):

  pattern = r'#+[A-Za-z0-9]+'

  words = re.findall(pattern, text)
  print(words)

text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo'
hashtag(text)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [41]:
def remove_weird_symbol(text):

  pattern = '<U\+.*>'

  words = re.sub(pattern , r'', text)

  print(words)

text = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
remove_weird_symbol(text)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [42]:
with open('date_new.txt', 'w') as file:
    file.write('Ron was born on 12-09-1992 and he was admitted to school 15-12-1999')

with open('date_new.txt', 'r') as file:
    text = file.read()

def find_date(text):

  pattern = r'\b\d{2}-\d{2}-\d{4}\b'

  words = re.findall(pattern,  text)

  print(words)

find_date(text)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [43]:
def remove_length_2_4(text):

  pattern = re.compile(r'\b[A-Za-z0-9]{2,4}\b')

  words = pattern.sub('', text)

  print(words)

text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

remove_length_2_4(text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.