## Q1

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd

In [61]:
options = Options()
options.add_experimental_option("detach", True) # To keep the browser open 

driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()), options=options) # Initializing the web driver according to the chrome version 

driver.get('https://www.shine.com/')

In [62]:
job_title = driver.find_element(By.ID, 'id_q')
job_title.send_keys('Data Analyst')

In [63]:
job_location = driver.find_element(By.ID, 'id_loc')
job_location.send_keys('Bangalore')

In [64]:
# Clicking the search button
search_button = driver.find_element(By.CLASS_NAME, 'btn.btn-secondary.undefined')
search_button.click()

In [65]:
job_titles = []
job_locations = []
job_locations_extra = []
company_names =[]
experience_required = []

# Job Titles
job_title = driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in job_title[0:10]:
    x = i.text
    job_titles.append(x)
    
# Job Locations
job_location = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_location[0:10]:
    x =i.text
    job_locations.append(x)
    
# Company Names
company_name = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_name[0:10]:
    x = i.text
    company_names.append(x)
    
# Experience Required
experience = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience[0:10]:
    x = i.text
    experience_required.append(x)

In [66]:
df = pd.DataFrame({'Title': job_titles, 'Locations': job_locations, 'Company': company_names, 'Experience': experience_required})

In [67]:
df.head()

,Title,Locations,Company,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs

In [68]:
experience_required

['0 to 4 Yrs',
 '4 to 5 Yrs',
 '3 to 8 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '4 to 6 Yrs',
 '5 to 8 Yrs']

In [69]:
company_names

['appsoft solutions',
 'valenta bpo solutions pvt. ltd.',
 'talent leads hr solutions pvt ltd',
 'radhika enterprises',
 'radhika enterprises',
 'techno endura',
 'radhika enterprises',
 'radhika enterprises',
 'mackenzie modern it solutions priva...',
 'white horse manpower consultancy (p...']

In [71]:
job_locations

['Bangalore\n+8',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+6',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+6',
 'Bangalore']

In [72]:
job_titles

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Data Analyst',
 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...',
 'Data Analyst Opening',
 'Data Analyst Fresher and Experience Vacancy',
 'Clinical Data Analyst',
 'Data Analyst Recruitment',
 'Data Analyst Recruitment',
 'Business Analyst',
 'Data Governance Analyst']

## Q2

In [89]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd

In [90]:
options = Options()
options.add_experimental_option("detach", True) # To keep the browser open

driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()), options=options) # Initializing the web driver according to the chrome version

driver.get('https://www.naukri.com/')

In [91]:
job_title = driver.find_element(By.CLASS_NAME, 'suggestor-input ')
job_title.send_keys('Data Analyst')

In [92]:
job_location = driver.find_element(By.XPATH, '//*[@id="root"]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
job_location.send_keys('Bangalore')

In [93]:
# Clicking the search button
search_button = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search_button.click()

In [97]:
job_titles = []
job_locations = []
company_names =[]
experience_required = []

# Job Titles
job_title = driver.find_elements(By.XPATH, '//div[@class=" row1"]/a')
for i in job_title[0:10]:
    x = i.text
    job_titles.append(x)
    
# Job Locations
job_location = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
for i in job_location[0:10]:
    x =i.text
    job_locations.append(x)
    
# Company Names
company_name = driver.find_elements(By.XPATH, '//a[@class=" comp-name mw-25"]')
for i in company_name[0:10]:
    x = i.text
    company_names.append(x)
    
# Experience Required
experience = driver.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience[0:10]:
    x = i.text
    experience_required.append(x)

In [98]:
df = pd.DataFrame({'Title': job_titles, 'Locations': job_locations, 'Company': company_names, 'Experience': experience_required})

In [99]:
df.head()

          Title                    Locations      Company Experience
0  Data Analyst  Hybrid - Kolkata, Bengaluru  Ltimindtree  12-17 Yrs
1  Data Analyst           Hybrid - Bengaluru    Freshmenu    3-5 Yrs
2  Data Analyst                    Bengaluru   Salesforce    3-7 Yrs
3  Data Analyst                    Bengaluru          ANZ    2-5 Yrs
4  Data Analyst                    Bengaluru    TMF Group    1-5 Yrs

In [100]:
experience_required

['12-17 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '2-3 Yrs',
 '5-8 Yrs',
 '7-12 Yrs']

In [101]:
company_names

['Ltimindtree',
 'Freshmenu',
 'Salesforce',
 'ANZ',
 'TMF Group',
 'Tableau Software',
 'Deep Cognition India',
 'Askmeoffers',
 'Becton Dickinson',
 'Valenta Bpo Solutions']

In [102]:
job_locations

['Hybrid - Kolkata, Bengaluru',
 'Hybrid - Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru',
 'Bangalore Rural']

In [103]:
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 '',
 '',
 '',
 'Field Programs Data Analyst',
 'Data Analyst']

## Q3

In [87]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import pandas as pd

In [69]:
options = Options()
options.add_experimental_option("detach", True) # To keep the browser open

driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()), options=options) # Initializing the web driver according to the chrome version

driver.get('https://www.flipkart.com/')

In [70]:
search_bar = driver.find_element(By.CLASS_NAME, 'Pke_EE')
search_bar.send_keys('Sunglasses')

In [71]:
# Clicking the search button
search_button = driver.find_element(By.CLASS_NAME, '_2iLD__')
search_button.click()

In [74]:
brands =[]
product_descriptions=[]
prices=[]
discounts=[]


# Brands

brand = driver.find_elements(By.XPATH, '//div[@class="syl9yP"]')
for i in brand:
    x = i.text
    brands.append(x)
    
# Product Descriptions

product_description = driver.find_elements(By.XPATH, '//a[@class="WKTcLC"]')
for i in product_description:
    x = i.text
    product_descriptions.append(x)
    
# Prices

price = driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
for i in price:
    x = i.text
    prices.append(x)
    
# Discounts

discount = driver.find_elements(By.XPATH, '//div[@class="UkUFwK"]')
for i in discount:
    x = i.text
    discounts.append(x)

# Clicking the next button

next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

In [75]:
# Brands

brand = driver.find_elements(By.XPATH, '//div[@class="syl9yP"]')
for i in brand:
    x = i.text
    brands.append(x)
    
# Product Descriptions

product_description = driver.find_elements(By.XPATH, '//a[@class="WKTcLC"]')
for i in product_description:
    x = i.text
    product_descriptions.append(x)
    
# Prices

price = driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
for i in price:
    x = i.text
    prices.append(x)
    
# Discounts

discount = driver.find_elements(By.XPATH, '//div[@class="UkUFwK"]')
for i in discount:
    x = i.text
    discounts.append(x)
    
# Clicking the next button    
next_button = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()

In [78]:
# Applying if else to break the loops when 100 instances are completed.

# Brands

brand = driver.find_elements(By.XPATH, '//div[@class="syl9yP"]')
for i in brand:
    if len(brands)<100:
        x = i.text
        brands.append(x)
    else:
        break
    
# Product Descriptions

product_description = driver.find_elements(By.XPATH, '//a[@class="WKTcLC"]')
for i in product_description:
    if len(product_descriptions)<100:
        x = i.text
        product_descriptions.append(x)
    else:
        break
    
# Prices

price = driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]')
for i in price:
    if len(prices)<100:
        x = i.text
        prices.append(x)
    else:
        break
    
# Discounts

discount = driver.find_elements(By.XPATH, '//div[@class="UkUFwK"]')
for i in discount:
    if len(discounts)<100:
        x = i.text
        discounts.append(x)
    else:
        break

In [79]:
len(brands)

100

In [80]:
brands

['john jacobs',
 'john jacobs',
 'hayden haiza',
 'VINCENT CHASE',
 'Rich Club',
 'Rich Club',
 'john jacobs',
 'ROYAL SON',
 'ROYAL SON',
 'BABYMOON',
 'VINCENT CHASE',
 'Lenskart STUDIO',
 'Fastrack',
 'Elligator',
 'Singco India',
 'elegante',
 'john jacobs',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Mast & Harbour',
 'john jacobs',
 'Eyewearlabs',
 'elegante',
 'VINCENT CHASE',
 'PC STAR',
 'Rich Club',
 'ROYAL SON',
 'VINCENT CHASE',
 'POLAROID',
 'ROZZETTA CRAFT',
 'Hooper',
 'john jacobs',
 'Fastrack',
 'VINCENT CHASE',
 'Singco India',
 'Fastrack',
 'Lenskart STUDIO',
 'AISLIN',
 'VINCENT CHASE',
 'Roadster',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Roadster',
 'ROYAL SON',
 'VINCENT CHASE',
 'SYGA',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'Lenskart Hustlr',
 'Hooper',
 'VINCENT CHASE',
 'AISLIN',
 'VINCENT CHASE',
 'john jacobs',
 'IDEE',
 'VINCENT CHASE',
 'AISLIN',
 'Lenskart STUDIO',
 'VINCENT CHASE',
 'john jacobs',
 'VINCENT CHASE',
 'PC STAR',
 'POLICE',
 'Hooper',
 'AISLIN',
 'AISLIN',
 'AISLIN',
 'NuVew',
 'AISLIN',
 'ROYAL SON',
 'john jacobs',
 'hipe',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'Resist',
 'IDEE',
 'AISLIN',
 'VINCENT CHASE',
 'NuVew',
 'VINCENT CHASE',
 'Ray-Ban',
 'john jacobs',
 'IDEE',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'john jacobs',
 'AISLIN',
 'AISLIN',
 'ROYAL SON',
 'Hooper',
 'Hooper',
 'FILA',
 'john jacobs',
 'AISLIN',
 'Roadster',
 'Hooper',
 'VINCENT CHASE']

In [81]:
len(product_descriptions)

100

In [82]:
product_descriptions

['UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (47)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Retro Square, Over-sized Sungl...',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Gradient Round Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (Free Siz...',
 'Polarized, UV Protection Rectangular Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Gradient Aviator Sunglasses (58)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Clubmaster Sunglas...',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'Polarized Wayfarer Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized Oval Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (47)',
 'Polarized, UV Protection Rectangular Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (57)',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'UV Protection Wayfarer Sunglasses (58)',
 'Polarized, UV Protection Rectangular Sunglasses (52)',
 'Polarized, UV Protection Rectangular, Wayfarer Sunglass...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wrap-around Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Wrap-around, Sports Sunglasses...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Round Sunglasses (40)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Toughened Glass Lens, UV Protection Rectangular, Aviato...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (52)',
 'Gradient Aviator Sunglasses (59)',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'Polarized, UV Protection Sports Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized, UV Protection Cat-eye Sunglasses (49)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Retro Square Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (47)',
 'UV Protection Wayfarer Sunglasses (59)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (56)',
 'UV Protection Sports Sunglasses (73)',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'UV Protection Rectangular Sunglasses (64)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored, Gradient Round, Spectacle Sun...',
 'by Lenskart UV Protection Wayfarer Sunglasses (57)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'Polarized, UV Protection, Gradient Retro Square, Over-s...',
 'UV Protection, Toughened Glass Lens, Riding Glasses Ret...',
 'Gradient Oval Sunglasses (56)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Riding Glasses, UV Protection Rectangular Sunglasses (6...',
 'Gradient Aviator Sunglasses (58)',
 'Gradient Retro Square Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Clubmaster Sunglas...',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (57)',
 'UV Protection, Gradient Wayfarer, Wrap-around Sunglasse...',
 'UV Protection Retro Square Sunglasses (60)',
 'Polarized, UV Protection Wayfarer Sunglasses (46)',
 'UV Protection Rectangular Sunglasses (50)',
 'Mirrored Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Wayfarer, Wrap-around Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (45)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Polarized, UV Protection Round, Over-sized Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (57)',
 'Gradient Retro Square Sunglasses (59)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (59)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'Polarized Rectangular Sunglasses (58)']

In [83]:
len(prices)

100

In [84]:
prices

['₹2,316',
 '₹2,437',
 '₹265',
 '₹499',
 '₹249',
 '₹399',
 '₹2,437',
 '₹1,139',
 '₹594',
 '₹299',
 '₹1,049',
 '₹1,750',
 '₹574',
 '₹249',
 '₹357',
 '₹474',
 '₹2,200',
 '₹399',
 '₹379',
 '₹194',
 '₹2,437',
 '₹1,799',
 '₹359',
 '₹1,049',
 '₹399',
 '₹251',
 '₹759',
 '₹1,049',
 '₹2,262',
 '₹419',
 '₹1,299',
 '₹2,999',
 '₹547',
 '₹818',
 '₹429',
 '₹762',
 '₹1,750',
 '₹499',
 '₹806',
 '₹230',
 '₹1,154',
 '₹944',
 '₹761',
 '₹849',
 '₹537',
 '₹349',
 '₹1,049',
 '₹1,049',
 '₹664',
 '₹1,500',
 '₹599',
 '₹944',
 '₹645',
 '₹996',
 '₹2,375',
 '₹2,125',
 '₹1,049',
 '₹412',
 '₹1,799',
 '₹596',
 '₹3,499',
 '₹1,154',
 '₹389',
 '₹8,450',
 '₹699',
 '₹755',
 '₹516',
 '₹613',
 '₹315',
 '₹755',
 '₹664',
 '₹3,499',
 '₹259',
 '₹786',
 '₹622',
 '₹845',
 '₹1,139',
 '₹1,498',
 '₹1,054',
 '₹449',
 '₹1,154',
 '₹198',
 '₹599',
 '₹7,639',
 '₹2,499',
 '₹1,790',
 '₹944',
 '₹399',
 '₹1,559',
 '₹428',
 '₹617',
 '₹569',
 '₹699',
 '₹699',
 '₹1,250',
 '₹2,437',
 '₹418',
 '₹761',
 '₹699',
 '₹1,101']

In [85]:
len(discounts)

100

In [86]:
discounts

['61% off',
 '45% off',
 '84% off',
 '75% off',
 '75% off',
 '69% off',
 '45% off',
 '54% off',
 '70% off',
 '60% off',
 '47% off',
 '50% off',
 '47% off',
 '90% off',
 '82% off',
 '79% off',
 '51% off',
 '85% off',
 '81% off',
 '77% off',
 '45% off',
 '50% off',
 '82% off',
 '47% off',
 '80% off',
 '74% off',
 '62% off',
 '47% off',
 '57% off',
 '81% off',
 '35% off',
 '50% off',
 '45% off',
 '67% off',
 '82% off',
 '45% off',
 '50% off',
 '80% off',
 '59% off',
 '79% off',
 '42% off',
 '52% off',
 '74% off',
 '57% off',
 '73% off',
 '72% off',
 '47% off',
 '47% off',
 '66% off',
 '57% off',
 '70% off',
 '52% off',
 '82% off',
 '50% off',
 '60% off',
 '50% off',
 '47% off',
 '75% off',
 '48% off',
 '70% off',
 '41% off',
 '42% off',
 '61% off',
 '50% off',
 '65% off',
 '73% off',
 '78% off',
 '72% off',
 '74% off',
 '73% off',
 '66% off',
 '41% off',
 '82% off',
 '60% off',
 '68% off',
 '77% off',
 '54% off',
 '70% off',
 '68% off',
 '70% off',
 '42% off',
 '73% off',
 '70% off',
 '10% off',
 '58% off',
 '50% off',
 '52% off',
 '80% off',
 '74% off',
 '71% off',
 '74% off',
 '71% off',
 '65% off',
 '65% off',
 '68% off',
 '59% off',
 '72% off',
 '74% off',
 '65% off',
 '44% off']